body {
    text-transform: uppercase ;
    font-family: "Carrois Gothic", Georgia;
}

#logo {
    position:absolute;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
}


nav {
    position: absolute;
    right: 10px;
    top: 15px;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
		z-index: 4;
}
nav li {
    display: inline-block;
    padding: 0px 5px 0px 40px;
}

a {
    color: black;
    text-decoration: none;
}

.gallery {
    color: #c831d4;
}

h2 {
     font-size: 15px;
}

nav ul {
    padding: 0px;
    margin: 0px
}

.gallery {
    color: #c831d4 !important;
}

.presentation {
    width: 900px;
    height: inherit;
    position: relative;
    margin: 0px auto;
}

.pic {
    width: 400px;
    position: absolute;
}

.pic img{
    width: 430px;
    height: inherit;
    
}

.pic h3{
    width: 300px;
    position: absolute;
    right: -70px;
    font-size: 15px;
    font-weight: bolder;
    margin: 20px 0px;
    
    
}

.pic p{
    width: 200px;
    position:absolute;
    top: 700px;
    right: 50px;
    font-size: 10px;
    color: gray;
}

.one {
    top: 200px;
}

.two {
    position: absolute;
    top: 400px;
    right: 0px;
}

.three {
    top:1000px;
}

.four {
    top: 1200px;
    right: 0px
}
